.contacts {
  display: flex;
  flex-direction: column;
}

.customFileUpload {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #003774;
  color: #fff;
  border: 1px solid #003774;
  border-radius: 4px;
}

.inputFileUpload {
  display: none;
}